:root {
  --main-text-color: #323232;
  --secondary-text-color: #000;
  --ouwer-text-color: #c4c4c4;
  --background-main: #ffffff;
  --background-secondary: #c4c4c4;
  --line-color: #bdbdbd;
  --text-button: #4f4f4f;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-main);
  color: var(--main-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul,
ol {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  font-style: normal;
}
.container {
  width: 100%;
  padding: 0 24px;
  margin: 0 auto;
}

/* ===sidebar=== */
.flex-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.sidebar {
  width: 6.679%;
  min-width: 72px;
  min-height: 1502px;
  height: 100vh;
  padding-top: 86px;
  background-color: var(--ouwer-text-color);
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.accounts-list {
  margin-bottom: 16px;
}

.accounts-item:not(:last-child) {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.accounts-link {
  display: block;
}

.accounts-icon {
  fill: var(--background-main);
}

.accounts-name,
.add-account-text {
  display: block;
  padding: 0 8px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 200%;
  text-transform: uppercase;
}

.add-account {
  height: 88px;
  margin-bottom: 26px;
  text-align: center;
}

.add-account-link {
  position: relative;
  display: block;

  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: var(--background-main);
  border-radius: 50%;
  text-align: center;
}

.add-account-icon-cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-account-text {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.apps-item {
  margin-bottom: 16px;
}

.apps-link,
.settings-link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 40px;
  height: 40px;
  background-color: var(--background-main);
  border-radius: 50%;
  text-align: center;
}

.settings-item:not(:last-child) {
  margin-bottom: 16px;
}

/* Main menu */

.section-name {
  text-align: left;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  margin-top: 40px;
}

/* Foto - section */

.foto-section {
  display: flex;
  align-items: center;
  padding-bottom: 24px;
}
.foto-account {
  margin-top: 24px;
}

.foto-file {
  padding-left: 88px;
}
.foto-file-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;

  padding-bottom: 30px;
}
.foto-file-download {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
}

/* Personal info */
.personal-name {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.wide {
  width: 50%;
  padding-right: 24px;
}
.wide:last-child {
  padding-right: 0px;
}
.persona-form-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.57;
  margin-top: 10px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);

  /* padding-right: 20px; */

  margin-bottom: 16px;
}
.persona-form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 16px;
  border: 1px solid var(--background-secondary);
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--ouwer-text-color);
}

.persona-data {
  display: block;
}
.persona-my-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
  text-decoration: underline;
}

.persona-myself {
  display: block;
  width: 100%;
  height: 120px;
  padding-left: 16px;
  border: 1px solid var(--background-secondary);
  border-radius: 6px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--ouwer-text-color);

  resize: none;
}

.persona-myself::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--ouwer-text-color);
  letter-spacing: 0.01em;
  padding-left: 10px;
  padding-top: 10px;
}

/* Contact info */

.contact-info-section {
  display: block;
}

.contact-adress,
.contact-data {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.contact-info-show-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.contact-info-show-data-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.015em;
  color: var(--secondary-text-color);
  padding-bottom: 10px;
}
.contact-info-show-data-warning-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67px;
  letter-spacing: 0.015em;
}
.show-data-warning-text::after {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--line-color);
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-main);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--ouwer-text-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--background-main);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 1px solid var(--background-secondary);
}

.slider.round:before {
  border-radius: 50%;
}

/* Delete account */

.delete-account-section {
  display: block;
  padding-top: 24px;
  margin-bottom: 54px;
}
.delete-account-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18px;
  color: var(--secondary-text-color);
}
.delete-account-section-button {
  /* position: absolute; */
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
/* .delete-account-section-button::after {
  /* position: relative; */
  content: "";
  display: block;
  height: 1px;
  background: var(--line-color);
  /* margin-top: 10px; */
} */
.delete-account-info {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: var(--secondary-text-color);

  margin-top: 10px;
}
.delete-account-info::after {
  content: "";
  display: block;
  position: relative;
  height: 1px;
  background: var(--line-color);
  /* bottom: 10px; */
}
.delete-account-button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 1.2;

  display: inline-block;
  min-width: 120px;
  height: 32px;
  align-items: center;
  text-align: center;
  background-color: var(--background-main);
  color: var(--text-button);

  border: 1px solid var(--text-button);
  border-radius: 5px;

  cursor: pointer;
}
